/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
 
*/

body
{
	font-family:Palatino, URW Palladio L, serif;
	color: rgb(1,41,95) ;
	background-color: rgb(255,248,231);
	margin-left: 75px;
	margin-right: 75px;
}
p{
	font-family:Palatino, URW Palladio L, serif;
	color: rgb(1,41,95) ;
	text-align: center;
}

header, footer
{
	text-align: center;
	color: rgb(109, 113, 46);
}

h1,h2,h3
{
	font-family: Palatino, URW Palladio L, serif;
	text-align: center;
	line-height: 0px;
	color:rgb(255, 91, 46);
}

a
{
	text-decoration: none;
	color: rgb(109, 113, 46);
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: rgb(255, 91, 46);
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}
table{
    border-collapse: collapse;
    margin:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


thead{
    background-color: darkorange;
}

th, td{
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

.right{
    text-align: right;
}

tbody tr:nth-child(odd) td{
    background-color: orange;
}
.words{
    text-align: center;
}
button{
	color:white;
	background-color:rebeccapurple;
}
input{
	font-weight: bold;
	font-size: 16px;
	background-color: #fff5ee;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}
ul{
	list-style-type: square;
}
button{
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	color: orange;
	font-size: 18px;
}
.container{
	width: 540px;
	margin: 40px auto;
	overflow:auto;
}
.rightArrow{
	width:500px;
	height: 300px;
	position: relative;
	overflow: hidden;
	float: left;
	padding:3px;
	border: rebeccapurple solid 2px;
}
.rightArrow img{
	display: none;
	width: 500px;
	height:300px;
}
.rightArrow img.display{
	display:inline-block;
}
.prev, .next{
	float:left;
	margin-top:130px;
	cursor:pointer;
}
.prev{
	position: relative;
	margin-right:-45px;
	z-index: 100;
}
.next{
	position: relative;
	margin-left: -45px;
	z-index:100;
}
