/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
 
*/

body
{
	font-family:Palatino, URW Palladio L, serif;
	color: rgb(1,41,95) ;
	background-color: rgb(255,248,231);
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
	color: rgb(109, 113, 46);
}

h1,h3
{
	font-family: Palatino, URW Palladio L, serif;
	text-align: center;
	line-height: 0px;
	color:rgb(255, 91, 46);
}
h2
{
	font-family: Palatino, URW Palladio L, serif;
	text-align: center;
	line-height: 0px;
	color: rgb(109, 113, 46);
}

a
{
	text-decoration: none;
	color: rgb(109, 113, 46);
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: rgb(255, 91, 46);
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}
table{
    border-collapse: collapse;
    margin:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

thead{
    background-color: darkorange;
}

th, td{
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

.right{
    text-align: right;
}

tbody tr:nth-child(odd) td{
    background-color: orange;
}
.words{
    text-align: center;
}
button{
	color:white;
	background-color:rebeccapurple;
}
input{
	font-weight: bold;
	font-size: 16px;
	background-color: #fff5ee;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}
ul{
	list-style-type: square;
}