<html lang = "en">

    <head>
        <meta charset = "UTF-8">
        <link href= "/css/style.css" rel="stylesheet" type="text/css">
        <title>Home Page</title>
    </head>
        <body>
            <header class = "container">
                <a href = '/'>
                    <img src = "/images/zoro.jpg" width= "300" height = "186" alt= "Brand">
                </a>
                <nav class = "topright">
                    <a href = '/connections/new'>Start a New Connection</a>
                    ||
                    <a>Login</a>
                    ||
                    <a>Sign Up</a>
                    <br>
                   __________________________________________________________________________________________
                </nav>
            </header>