<!DOCTYPE html>
<html lang="en">
    <!--https://coolors.co/593f62-efb0a1-495f41-788bff-e55812-->

    <head>
        <meta charset="UTF-8">
        <link href="styles/default.css" rel="stylesheet" type="text/css">
    </head>
    <p>
    Created by Diabolical Gorillas LLC 2021
</p>
<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fdaleg18.github.io%2Fitis3135%2Fbrand-diabolical-gorillas.html">
    <button>HTML Validation</button>

<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fdaleg18.github.io%2Fitis3135%2Fbrand-diabolical-gorillas.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
    <button>CSS Validation</button>
    </html>