<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="images/logo.png" alt="logo">
    
    <h1>Romans Rentals</h1>
    
    <nav>
        <a href="index.html">Home</a>
        ||
        <a href="apartment.html">Homes for Rent</a>
        ||
        <a href="apartment.html">Apartments for Rent</a>
        ||
        <a href="management.html">Management Services</a>
        ||
        <a href="help.html">Help Center</a>
        </nav>
</body>
</html>