<%- include('./partials/header.ejs')%>
<nav>
    <h2>
        <a href = '/connections'>Connections</a>

</h2>
</nav>
    <main>
        <br>
        <h3>Contact US</h3>
            <p>
               Address - 9201 University City Blvd, Charlotte NC 28223
               <br>
               Phone - (704)687-8622
            </p>
    <br>
<p>
Page built by Dale Graham
</p>
</main>
<%- include('./partials/footer.ejs')%>