body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(89,63,98);
    background-color:rgb(239,176,161);
    margin-left: 80px;
    margin-right: 80px;
}

header, footer, h2{
    text-align:center;
    
}

p, img, div{
    color:rgb(73,95,65);
    font-weight:bold;
    font-family:sans-serif;
    text-align:center;
}


figure{
    text-align:center;
}
figcaption{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(73,95,65)
}
nav{
    text-align:center;
}
ul{
    list-style-type: square;
    color:rgb(120,139,255);
}
button{
    font-size: 14px;
    color:indigo;
    background-color: lemonchiffon;
    font-weight: bold;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 35%;
    padding: 6px;
  }
  div > img {
    width:auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }
  .formula{
    color:rgb(120,139,255)
  }