<%- include('./partials/header.ejs')%>
<nav>
    <h2>
        <a href = '/connections'>Connections</a>

</h2>
</nav>
    <main>
            <p>
                About CCI Connections Site
                <br>
                Platform to participate and create CCI events to connect with <br>
                people. Whether you are looking for a study buddy, trying to connect with<br>
                others who are interested in something you love to do, or try something new. <br>
                Check out the Connections section to browse available connections!
            </p>
    <br>
<p>
Page built by Dale Graham
</p>
</main>
<%- include('./partials/footer.ejs')%>