<%- include('./partials/header.ejs')%>
<nav>
    <h2>
    <a href = '/connections'>Connections</a>

</h2>
</nav>
    <main>
       
        <p>
                Welcome to the CCI Connections Page!
                <br>
                We have multiple connections to make, whether its for fashion <br>
                anime or anything else you're intereted in we have a space for you!
            </p>
    <br>
<p>
Page built by Dale Graham
</p>
</main>
<%- include('./partials/footer.ejs')%>