<%- include('../partials/header.ejs')%>
<nav>
    <h2>
        <a href = '/connections'>Connections</a>

</h2>
</nav>
    <main>
        <form action = '/connections' method = 'POST'>
        Topic
        <label for="topic">
            <input class="words" id="topic" type="text" name="topic" size="30" placeholder="topic">
        </label> <br>
        Title
        <label for="title">
            <input class="words" id="title" type="text" name="title" placeholder="title">
        </label> <br>
        Host     
        <label for="hostName">
                <input class="words" id="hostName" type="text" name="hostName" placeholder="host">
        </label><br>
        Details
        <label for="details">
            <input class="words" id="details" type="text" name="details" placeholder="description">
        </label> <br>
        Where    
        <label for="where">
                <input class="words" id="where" type="text" name="where" placeholder="location">
        </label><br>
        When     
        <label for="date">
                <input class="date" id="date" type="date" name="when">
        </label><br>
        Start     
        <label for="startTime">
                <input class="date" id="startTime" type="time" name="startTime">
        </label><br>
        End    
        <label for="endTime">
            <input class="date" id="endTime" type="time" name="endTime">
        </label><br>
        Image URL
        <label for="image">
            <input class="words" id="image" type="url" name="image" placeholder="URL">
        </label> <br>
        <br>
        <button type="submit">Create a Connection</button> </form>
<br>      
<p>
Page built by Dale Graham
</p>
</main>
<%- include('../partials/footer.ejs')%>