body
{
	font-family:Palatino, URW Palladio L, serif;
	color: rgb(1,41,95) ;
	background-color: rgb(175, 225, 175);
	margin-left: 75px;
	margin-right: 75px;
}
p{
	font-family:Palatino, URW Palladio L, serif;
	color: rgb(1,41,95) ;
	text-align: center;
}

header, footer,nav,main
{
	text-align: center;
	color: rgb(109, 113, 46);
}

h1,h2,h3
{
	font-family: Palatino, URW Palladio L, serif;
	text-align: center;
	line-height: 0px;
	color:rgb(255, 91, 46);
}
a
{
	text-decoration: none;
	color: rgb(109, 113, 46);
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: rgb(255, 91, 46);
}